.header-btn {
    align-items: center;
    background-color: rgb(89, 8, 8);
    border: none;
    border-radius: 10px;
    color: antiquewhite;
    cursor: pointer;
    display: flex;
    font: inherit;
    font-size: 1.2rem;
    height: 2rem;
    justify-content: space-around;
}

.header-btn:hover,
.header-btn:active {
  background-color: #2c0d00;
}

.header-btn-icon {
    height: 20px;
    margin-right: 10px;
    width: 20px;
}


.header-btn-items {
    background-color: aliceblue;
    border-radius: 50%;
    color: rgb(89, 8, 8);
    font-size: 1rem;
    margin-left: 15px;
}

